.Prueba {
  margin: 0 auto;

  justify-content: center;
  align-items: center;
}

.Boton {
  padding-bottom: 20px;
  align-items: center;
  left: 0px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.SelectConNum {
  right: 10%;
}

.Movermail {
  margin-left: 10%;
}

.left {
  margin-left: 250px;
}
