.Prueba {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.Boton {
  padding-bottom: 20px;
  align-items: center;
  left: 0px;
}

// csss formulario alta
.PruebaAux {
  margin: 0 auto;

  justify-content: center;
  align-items: center;
}

.BotonAux {
  padding-bottom: 20px;
  align-items: center;
  left: 0px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.SelectConNum {
  right: 10%;
}

.Movermail {
  margin-left: 10%;
}

.left {
  margin-left: 1250px;
}

.left2 {
  margin-left: 10px;
}
.right {
  margin-right: 1250px;
}
.ButtonMas {
  margin-left: 1000px;
}
.botonNuevoUsuario {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 1360px;
  color: #ffffff;
}
.tituloTabla {
  margin: auto;
  width: 150%;
  padding: 10px;
  background: #008f4c;
  color: #ffffff;
}


.container{
  text-align:center
}
.left{
  float: left;
  background:blue
}
.right{
  float: right;
  background:red
}
.center{
  background:green;
  margin:0 auto; 
 display:inline-block
}
