.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  min-width: 300px;
}

.listContainer {
  margin: 16px 40px 40px;
  padding: 24px;
  background-color: #ffffff;
}
